In [8]:
##Wed Scraping - the DOW Jones Constituents

In [9]:
import pandas as pd

In [10]:
pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average') #grabbing wikipedia table with DJI data

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 136 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7          US$10.84 trillion(as of July 30, 2021)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange Symbol                        Industry  \
 0                         3M     NYSE    MMM                    Conglomerate
 1           American Express     NYSE    AXP              Financial services
 2                      Amgen   NASDAQ   AMGN               Biopharmaceutical
 3                      Apple   NASDAQ   AAPL          Information technology
 4                     Boeing     NYSE     BA           Aerospace and defense
 5                Caterpillar     NYSE    CAT         Construction and Mining
 6                    Chevron     NYSE    CVX              Petroleum industry
 7                      Cisco   NASDAQ   CSCO          Information technology
 8                  Coca-Cola     NYSE     KO                      Soft Drink
 9                     Disney     NYSE    DIS  Broadcasting and entertainment
 10                       Dow     NYSE    DOW               Chemical industry
 11             Goldman Sachs     NYSE     GS              Financial services
 12                Home Depot     NYSE     HD                Home Improvement
 13                 Honeywell   NASDAQ    HON                    Conglomerate
 14                       IBM     NYSE    IBM          Information technology
 15                     Intel   NASDAQ   INTC          Semiconductor industry
 16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 17            JPMorgan Chase     NYSE    JPM              Financial services
 18                McDonald's     NYSE    MCD                   Food industry
 19                     Merck     NYSE    MRK         Pharmaceutical industry
 20                 Microsoft   NASDAQ   MSFT          Information technology
 21                      Nike     NYSE    NKE                         Apparel
 22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 23                Salesforce     NYSE    CRM          Information technology
 24                 Travelers     NYSE    TRV                       Insurance
 25              UnitedHealth     NYSE    UNH             Managed health care
 26                   Verizon     NYSE     VZ               Telecommunication
 27                      Visa     NYSE      V              Financial services
 28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing
 29                   Walmart     NYSE    WMT                       Retailing

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           3.38%
 1   1982-08-30                                    NaN           3.29%
 2   2020-08-31                                    NaN           3.84%
 3   2015-03-19                                    NaN           2.76%
 4   1987-03-12                                    NaN           4.01%
 5   1991-05-06                                    NaN           3.73%
 6   2008-02-19          Also 1930-07-18 to 1999-11-01           2.07%
 7   2009-06-08                                    NaN           1.03%
 8   1987-03-12          Also 1932-05-26 to 1935-11-20           1.01%
 9   1991-05-06                                    NaN           3.18%
 10  2019-04-02                                    NaN           1.10%
 11  2013-09-20                                    NaN           7.65%
 12  1999-11-01                                    NaN           6.65%
 13  2020-08-31                                    NaN           4.12%
 14  1979-06-29          Also 1932-05-26 to 1939-03-04           2.64%
 15  1999-11-01                                    NaN           1.03%
 16  1997-03-17                                    NaN           3.04%
 17  1991-05-06                                    NaN           3.13%
 18  1985-10-30                                    NaN           4.51%
 19  1979-06-29                                    NaN           1.48%
 20  1999-11-01                                    NaN           5.72%
 21  2013-09-20                                    NaN           2.93%
 22  1932-05-26                                    NaN           2.61%
 23  2020-08-31                                    NaN           5.43%
 24  2009-06-08                                    NaN           2.89%
 25  2012-09-24                                    NaN           7.88%
 26  2004-04-08                                    NaN           0.97%
 27  2013-09-20                                    NaN           4.34%
 28  2018-06-26                                    NaN           0.89%
 29  1997-03-17                                    NaN           2.69%  ,
      Year  Closing value Change in points Change in percent
 0    1885          39.29            10.83             38.05
 1    1886          41.03             1.74              4.43
 2    1887          37.58            −3.45             −8.41
 3    1888          39.39             1.81              4.82
 4    1889          41.56             2.17              5.51
 ..    ...            ...              ...               ...
 132  2017       24719.22          4956.62             25.08
 133  2018       23327.46        −1,391.76             −5.63
 134  2019       28538.44          5210.98             22.34
 135  2020       30606.48          2068.04              7.25
 136  2021       36338.30          5731.82             18.73

 [137 rows x 4 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Dow Jon...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                                          Magazines
 27                                              Other
 28                                     Formerholdings
 29  vteNews UKNewspapers The Times The Sunday Time...
 30                                         vteNews UK
 31                                         Newspapers
 32                                           Magazine
 33                                              Radio
 34                                         Television
 35                                       Other assets
 36      See also: 21st Century Fox · News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News Investor's Business Da...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  Sky News Live Sky News Extra Sky News Weather ...
 26            Big League GQ Australia Vogue Australia
 27  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 28  Australian Associated Press (47%) ADS (Adelaid...
 29  vteNews UKNewspapers The Times The Sunday Time...
 30                                         vteNews UK
 31                 The Times The Sunday Times The Sun
 32                      The Times Literary Supplement
 33  Wireless Group Talkradio Talksport Times Radio...
 34                                             talkTV
 35  Move Realtor.com New York Post News America Ma...
 36      See also: 21st Century Fox · News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                                          Magazines
 13                                              Other
 14                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  Sky News Live Sky News Extra Sky News Weather ...
 12            Big League GQ Australia Vogue Australia
 13  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 14  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian The Daily Telegraph (Sydney) He...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
    vteNews UK                                       vteNews UK.1
 0  Newspapers                 The Times The Sunday Times The Sun
 1    Magazine                      The Times Literary Supplement
 2       Radio  Wireless Group Talkradio Talksport Times Radio...
 3  Television                                             talkTV]

In [11]:
const = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[1]
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.38%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.29%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.84%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.76%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.01%
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,NaN,3.73%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.07%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.03%
8,Coca-Cola,NYSE,KO,Soft Drink,1987-03-12,Also 1932-05-26 to 1935-11-20,1.01%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,3.18%
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.10%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,7.65%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.65%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,NaN,4.12%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.64%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,1.03%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.04%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.13%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.51%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.48%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.72%
21,Nike,NYSE,NKE,Apparel,2013-09-20,NaN,2.93%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.61%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,5.43%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,2.89%
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,NaN,7.88%
26,Verizon,NYSE,VZ,Telecommunication,2004-04-08,NaN,0.97%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.34%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.89%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.69%

In [12]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Soft Drink,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,2019-04-02
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Apparel,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunication,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [13]:
const.rename(columns = {'Date added':'Date_added'},inplace=True) #need to get rid of the white space in one of the columns in df

In [14]:
const.Date_added = pd.to_datetime(const.Date_added)

In [15]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [16]:
##Normalizing Unicode Strings and Getting the Ticker Symbols

In [17]:
const

,Company,Exchange,Symbol,Industry,Date_added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Soft Drink,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,2019-04-02
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Apparel,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunication,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [18]:
import unicodedata

In [19]:
const.Symbol.apply(lambda x: unicodedata.normalize('NFKD', x))[0]

'MMM'

In [20]:
const_Symbol = const.Symbol.apply(lambda x: unicodedata.normalize('NFKD', x))

In [21]:
const_Symbol[0]

'MMM'

In [22]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [28]:
ticker_list = const.Symbol.to_list()

In [29]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [25]:
const.to_csv('const.csv',index = False)

In [19]:
##Loading and Saving Historical Stock Prices

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
yf.download("^DJI")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1992-01-02,3152.100098,3172.629883,3139.310059,3172.399902,3172.399902,23550000
1992-01-03,3172.399902,3210.639893,3165.919922,3201.500000,3201.500000,23620000
1992-01-06,3201.500000,3213.330078,3191.860107,3200.100098,3200.100098,27280000
1992-01-07,3200.100098,3210.199951,3184.479980,3204.800049,3204.800049,25510000
1992-01-08,3204.800049,3229.199951,3185.820068,3203.899902,3203.899902,29040000
...,...,...,...,...,...,...
2022-02-01,35151.468750,35441.089844,34977.949219,35405.238281,35405.238281,386080000
2022-02-02,35378.191406,35679.199219,35290.121094,35629.328125,35629.328125,359540000
2022-02-03,35520.078125,35535.941406,35071.058594,35111.160156,35111.160156,381020000
2022-02-04,35095.738281,35333.550781,34799.078125,35089.738281,35089.738281,349880000
2022-02-07,35108.378906,35325.011719,34993.980469,35091.128906,35091.128906,328910000

In [3]:
dji = yf.download('^DJI', start = '2007-01-01', end = '2022-01-31')

[*********************100%***********************]  1 of 1 completed

In [4]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2022-01-24,34070.609375,34420.988281,33150.328125,34364.500000,34364.500000,664010000
2022-01-25,34186.640625,34591.039062,33545.519531,34297.730469,34297.730469,506430000
2022-01-26,34520.820312,34815.671875,33876.480469,34168.089844,34168.089844,546330000
2022-01-27,34261.750000,34773.320312,34007.781250,34160.781250,34160.781250,527780000
2022-01-28,34135.238281,34731.769531,33807.511719,34725.468750,34725.468750,568440000

In [5]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3796 entries, 2007-01-03 to 2022-01-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3796 non-null   float64
 1   High       3796 non-null   float64
 2   Low        3796 non-null   float64
 3   Close      3796 non-null   float64
 4   Adj Close  3796 non-null   float64
 5   Volume     3796 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 207.6 KB

In [26]:
dji.to_csv('dji.csv')

In [31]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [32]:
prices = yf.download(ticker_list, start = '2007-01-01', end = '2022-01-31')

[*********************100%***********************]  30 of 30 completed

In [33]:
prices

             Adj Close                                                  \
                  AAPL        AMGN         AXP          BA         CAT
Date
2007-01-03    2.562706   52.892441   47.476818   64.405731   40.306831
2007-01-04    2.619588   55.158165   47.130733   64.665764   40.201370
2007-01-05    2.600932   55.289627   46.509346   64.391258   39.687321
2007-01-08    2.613777   54.848877   46.949825   64.239616   39.733463
2007-01-09    2.830903   55.111755   46.650940   63.560665   39.950935
...                ...         ...         ...         ...         ...
2022-01-24  161.414337  226.080002  158.929993  204.199997  214.330002
2022-01-25  159.576691  225.039993  173.110001  204.100006  214.309998
2022-01-26  159.486801  222.539993  175.320007  194.270004  214.289993
2022-01-27  159.017410  224.000000  171.899994  189.750000  212.169998
2022-01-28  170.113266  229.139999  177.059998  190.570007  201.160004

                                                                      ...  \
                   CRM       CSCO         CVX         DIS        DOW  ...
Date                                                                  ...
2007-01-03    9.017500  20.191019   39.947884   28.317099        NaN  ...
2007-01-04    9.470000  20.722557   39.559483   28.540653        NaN  ...
2007-01-05    9.880000  20.729839   39.711464   28.308817        NaN  ...
2007-01-08    9.982500  20.846340   40.218060   28.565493        NaN  ...
2007-01-09    9.990000  20.729839   39.756504   28.524090        NaN  ...
...                ...        ...         ...         ...        ...  ...
2022-01-24  223.029999  56.900002  127.180000  137.460007  56.619999  ...
2022-01-25  215.389999  56.110001  132.589996  136.509995  57.180000  ...
2022-01-26  211.000000  55.330002  132.690002  133.600006  57.220001  ...
2022-01-27  212.740005  54.619999  135.369995  135.419998  60.180000  ...
2022-01-28  222.130005  55.610001  130.610001  138.630005  60.040001  ...

              Volume                                                  \
                 MRK      MSFT       NKE        PG      TRV      UNH
Date
2007-01-03  15740226  76935100  17299200   9717900  3432800  8360300
2007-01-04  13115930  45774500  15085600   8711400  2068200  5152500
2007-01-05  11168431  44607200  14996800   9907900  2104600  6215700
2007-01-08   7384522  50220200  10109600  11068200  2440900  4344100
2007-01-09   9037114  44636600  15167200  10823800  1319500  5483900
...              ...       ...       ...       ...      ...      ...
2022-01-24  17289000  85731500   9733200  14838100  3233800  4780700
2022-01-25  13662400  72848600   8195400   9369600  2210400  3428900
2022-01-26  13046600  90428900   7444600  10707100  2194100  4435900
2022-01-27  20187200  53481300   6396400   9083000  2161800  3508100
2022-01-28  13915300  49743700   6130200   9494200  1233500  3364400


                     V        VZ      WBA       WMT
Date
2007-01-03         NaN  21445850  6294500  35687300
2007-01-04         NaN  19215860  3681800  17073000
2007-01-05         NaN  19047041  3680900  13556900
2007-01-08         NaN  20370917  4720800  16396400
2007-01-09         NaN  16281352  3792500  14643200
...                ...       ...      ...       ...
2022-01-24  16054000.0  32500600  7943900   9566400
2022-01-25  12125500.0  32075900  7352000   9826500
2022-01-26  10817600.0  41504700  8941000   8728500
2022-01-27  12009800.0  35339600  6012400   9253000
2022-01-28  26425300.0  29490800  5430400   8377300

[3796 rows x 180 columns]

In [34]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3796 entries, 2007-01-03 to 2022-01-28
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(152), int64(28)
memory usage: 5.2 MB

In [35]:
prices = prices.loc[:,'Close'].copy() #just need closing prices

In [36]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,NaN,...,42.003819,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,46.070000,47.549999
2007-01-04,3.059286,71.330002,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,NaN,...,43.043892,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,46.160000,47.779999
2007-01-05,3.037500,71.500000,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,NaN,...,42.270992,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,45.500000,47.389999
2007-01-08,3.052500,70.930000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,NaN,...,42.261452,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,45.689999,47.000000
2007-01-09,3.306071,71.269997,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,NaN,...,41.870228,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,45.930000,47.389999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,161.619995,226.080002,158.929993,204.199997,214.330002,223.029999,56.900002,127.180000,137.460007,56.619999,...,78.830002,296.369995,146.000000,161.300003,168.830002,462.269989,201.850006,52.959999,52.380001,140.199997
2022-01-25,159.779999,225.039993,173.110001,204.100006,214.309998,215.389999,56.110001,132.589996,136.509995,57.180000,...,79.459999,288.489990,145.479996,159.539993,168.600006,456.839996,202.000000,52.900002,50.990002,137.149994
2022-01-26,159.690002,222.539993,175.320007,194.270004,214.289993,211.000000,55.330002,132.690002,133.600006,57.220001,...,79.139999,296.709991,143.990005,158.149994,167.860001,458.429993,205.869995,51.020000,49.759998,135.750000
2022-01-27,159.220001,224.000000,171.899994,189.750000,212.169998,212.740005,54.619999,135.369995,135.419998,60.180000,...,80.580002,299.839996,144.639999,159.130005,165.660004,461.600006,206.149994,51.189999,50.000000,135.839996
2022-01-28,170.330002,229.139999,177.059998,190.570007,201.160004,222.130005,55.610001,130.610001,138.630005,60.040001,...,80.900002,308.260010,145.910004,160.500000,166.820007,466.059998,228.000000,52.900002,50.459999,137.520004

In [37]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3796 entries, 2007-01-03 to 2022-01-28
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3796 non-null   float64
 1   AMGN    3796 non-null   float64
 2   AXP     3796 non-null   float64
 3   BA      3796 non-null   float64
 4   CAT     3796 non-null   float64
 5   CRM     3796 non-null   float64
 6   CSCO    3796 non-null   float64
 7   CVX     3796 non-null   float64
 8   DIS     3796 non-null   float64
 9   DOW     723 non-null    float64
 10  GS      3796 non-null   float64
 11  HD      3796 non-null   float64
 12  HON     3796 non-null   float64
 13  IBM     3796 non-null   float64
 14  INTC    3796 non-null   float64
 15  JNJ     3796 non-null   float64
 16  JPM     3796 non-null   float64
 17  KO      3796 non-null   float64
 18  MCD     3796 non-null   float64
 19  MMM     3796 non-null   float64
 20  MRK     3796 non-null   float64
 21  MSFT    3796 non-null   float64
 22  NKE     3796 non-null   float64
 23  PG      3796 non-null   float64
 24  TRV     3796 non-null   float64
 25  UNH     3796 non-null   float64
 26  V       3492 non-null   float64
 27  VZ      3796 non-null   float64
 28  WBA     3796 non-null   float64
 29  WMT     3796 non-null   float64
dtypes: float64(30)
memory usage: 919.3 KB

In [38]:
prices.to_csv('const_prices.csv')